<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h1>Signup Form</h1>

    <form method="post" action="../controller/signupCheck.php" enctype="">
        <table border="1" cellspacing="0" cellpadding="5">
            <tr>
                <th colspan="2">Personal Information</th>
            </tr>
            <tr>
                <td>UserName:</td>
                <td><input type="text" name="username" value="" required /></td>
            </tr>
            <tr>
                <td>Full Name:</td>
                <td><input type="text" name="fullname" value="" required /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="email" value="" required /></td>
            </tr>
            <tr>
                <td>Phone Number:</td>
                <td><input type="text" name="phone" value="" required /></td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td><input type="date" name="dob" value="" required /></td>
            </tr>
            <tr>
                <th colspan="2">Select Account Type</th>
            </tr>
            <tr>
                <td>Account Type:</td>
                <td>
                    <input type="radio" id="user" name="type" value="traveller">Traveller
                    <input type="radio" id="admin" name="type" value="admin">Admin
                    <input type="radio" id="admin" name="type" value="operator">Operator
                </td>
            </tr>
            <tr>
                <th colspan="2">Security Information</th>
            </tr>
            <tr>
                <td>Security Question:</td>
                <td>
                    <select name="security_question" required>
                        <option value="" disabled selected>Select a question</option>
                        <option value="sports">What is your Favourite Sports?</option>
                        <option value="first_pet">What was the name of your first pet?</option>
                        <option value="favorite_player">Who is your favorite player</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Answer:</td>
                <td><input type="text" name="security_answer" value="" required /></td>
            </tr>
            <tr>
                <th colspan="2">Account Security</th>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" value="" required /></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><input type="password" name="confirmpassword" value="" required /></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="submit" value="Submit" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>